<section id="base-game-page">
  <aside id="sidebar">
    <h1 id="sidebar-welcome-message">Welcome, Player</h1>
    <nav id="nav-menu">
      <a href="#" class="nav-page-link" id="maze-selection-page-link">Mazes</a>
      <a href="#" class="nav-page-link">Leaderboard</a>
      <a href="#" class="nav-page-link">Challenges</a>
    </nav>
    <footer id="sidebar-footer">
      <button class="icon-button" id="profile-button"><img src="assets/user.png" alt="Profile Button"></button>
      <button class="icon-button" id="settings-button"><img src="assets/settings.png" alt="Settings Button"></button>
      <button class="icon-button" id="logout-button"><img src="assets/logout.png" alt="Logout Button"></button>
    </footer>
  </aside>
  <button id="nav-button" onclick="clickNav()"><img src="assets/nav-button-icon.png" id="nav-button-img" alt="Nav Button"></button>
  <section id="content"></section>
</section>