<section id="cms-container">
  <nav id="navbar">
    <button id="home-button" class="menu-button">
      <img src="./assets/home.png" alt="Home" id="home-logo" class="icon" />
    </button>
    <button id="back-button" class="menu-button">
      <img src="./assets/back.png" alt="Back" id="back-logo" class="icon" />
    </button>
  </nav>
  <section class="content-container">
    <nav class="sidebar" id="sidebar">
      <button id="add-maze-btn" class="maze-btn add-btn">+</button>
    </nav>
    <section class="maze-manager" id="maze-manager"></section>
  </section>
</section>
