<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maze Game</title>
    <link rel="stylesheet" href="game-play.css" />
  </head>

  <body>
    <section id="mazes">
      <main id="page">
        <section id="Message-Container" role="dialog" aria-labelledby="message">
          <article id="message">
            <h1>Congratulations!</h1>
            <p>You are done.</p>
            <p id="moves"></p>
            <button id="okBtn" onclick="toggleVisablity('Message-Container')">
              Cool!
            </button>
          </article>
        </section>

        <br />

        <nav id="menu">
          <div class="custom-select">
            <label for="diffSelect">Select Difficulty:</label>
            <select id="diffSelect">
              <option value="10">Easy</option>
              <option value="15">Medium</option>
              <option value="25">Hard</option>
              <option value="38">Extreme</option>
            </select>
          </div>
          <button id="startMazeBtn" onclick="makeMaze()">Start</button>
        </nav>

        <section id="view">
          <div id="mazeContainer">
            <canvas id="mazeCanvas" class="border" height="1100" width="1100">
            </canvas>
          </div>
        </section>

        <footer>
          <p id="instructions">Use arrow keys to move the key to the house!</p>
        </footer>
      </main>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.18/jquery.touchSwipe.min.js"></script>
      <script src="./script.js"></script>
    </section>
  </body>
</html>
