<section id="congrats-layout">
  <nav id="navbar">
    <button id="home-button" class="menu-button">
      <img src="./assets/home.png" alt="Home" id="home-logo" class="icon" />
    </button>
    <button id="back-button" class="menu-button">
      <img src="./assets/back.png" alt="Back" id="back-logo" class="icon" />
    </button>
  </nav>
  <section id="congrats-container">
    <section class="congrats-card light-mode">
      <h1 class="congrats-title">Congrats!</h1>
      <p class="congrats-message">You've completed the maze bro!</p>
      <section class="congrats-details">
        <p id="congrats-steps">Steps taken: 38</p>
        <p id="congrats-time">Time left: 7</p>
      </section>
      <section class="congrats-actions">
        <button id="play-again-btn">Play Again</button>
        <button id="maze-selection-btn">Maze Selection</button>
        <button id="view-leaderboard-btn">View leaderboard</button>
      </section>
    </section>
  </section>
</section>
