<section id="leaderboard-container">
  <nav id="navbar">
    <button id="home-button" class="menu-button">
      <img src="./assets/home.png" alt="Home" id="home-logo" class="icon" />
    </button>
    <button id="back-button" class="menu-button">
      <img src="./assets/back.png" alt="Back" id="back-logo" class="icon" />
    </button>
  </nav>
  <section id="leaderboard-grid">
    <h1 id="leaderboard-header">Maze Game Hall of Fame</h1>

    <section id="navigation-buttons">
      <button id="play-maze-button" class="menu-button">Play Maze</button>
    </section>

    <section id="maze-select-section">
      <label for="maze-select" id="maze-select-label">Select Maze:</label>
      <select id="maze-select"></select>
    </section>

    <section id="leaderboard-sections">
      <article class="leaderboard-section" id="user-stats-section">
        <h2>Your Stats</h2>
        <table id="user-stats" class="leaderboard-table">
          <thead>
            <tr>
              <th>Attempt</th>
              <th>Time taken</th>
              <th>Steps</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </article>

      <article class="leaderboard-section" id="time-leaderboard-section">
        <h2>Fastest Times</h2>
        <table id="time-leaderboard" class="leaderboard-table">
          <thead>
            <tr>
              <th>Rank</th>
              <th>User</th>
              <th>Time Taken</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </article>

      <article class="leaderboard-section" id="steps-leaderboard-section">
        <h2>Fewest Steps</h2>
        <table id="steps-leaderboard" class="leaderboard-table">
          <thead>
            <tr>
              <th>Rank</th>
              <th>User</th>
              <th>Steps Taken</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </article>
    </section>
  </section>
</section>
