<section id="game-page">
  <header id="game-banner">
    <p id="preview">Preview:</p>
    <p id="escape">Escape:</p>
    <p id="steps">Steps:</p>
  </header>
  <section id="grid-container"></section>
  <footer id="game-footer">
    <button id="up" class="movement-button">⬆</button>
    <section>
      <button id="left" class="movement-button">⬅</button>
      <button id="down" class="movement-button">⬇</button>
      <button id="right" class="movement-button">➡</button>
    </section>
  </footer>
</section>
