<section id="user-management-container">
  <nav id="navbar">
    <button id="home-button" class="menu-button">
      <img src="./assets/home.png" alt="Home" id="home-logo" class="icon" />
    </button>
    <button id="back-button" class="menu-button">
      <img src="./assets/back.png" alt="Back" id="back-logo" class="icon" />
    </button>
  </nav>

  <h1>User Roles Management</h1>

  <section>
    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Roles</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="user-role-management-table-body"></tbody>
    </table>
    <button id="update-user-role-btn">Submit</button>
  </section>
</section>
