* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  max-width: 100vw;
}

header {
  background: #333;
  color: #fff;
  text-align: center;
}

input {
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.5rem 0.75rem;
    border: 1px solid #ddd;
    width: 100%;
    border-radius: 0.4rem;
}

textarea {
    font-size: 0.875rem;
    padding: 0.5rem 0.75rem;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 0.4rem;
    resize: vertical;
}

button {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    border-width: 0;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
}

.container {
  display: flex;
  min-height: calc(100vh - 60px);
  max-width: 100%;
}

.sidebar {
  width: fit-content;
  background: #f4f4f4;
  border-right: 1px solid #ddd;
  overflow: auto;
  max-height: calc(100vh - 60px);
}

.content {
  flex: 1;
  padding: 1rem;
  container-type: inline-size;
}

.maze-btn {
  display: block;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background: #eee;
  border: none;
  cursor: pointer;
  width: 100%;
}

.maze-btn:hover {
  background: #ddd;
}

.add-btn {
  background: #4caf50;
  color: white;
}

.maze-canvas {
  border: 1px solid #333;
  margin-top: 1rem;
  width: 100%;
}

.maze-details {
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  padding: 1.5rem;
  display: grid;
  gap: 1rem;
  justify-content: center;
    align-items: center;
}

#mazeDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

@container (max-width: 500px) {
  #mazeDetails {
    grid-template-columns: 1fr;
  }
}

.details-double-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
