/*
input {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.5rem 0.75rem;
  border: 1px solid #ddd;
  width: 100%;
  border-radius: 0.4rem;
}

textarea {
  font-size: 0.875rem;
  padding: 0.5rem 0.75rem;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 0.4rem;
  resize: vertical;
}

.container {
  display: flex;
  min-height: calc(100vh - 60px);
  max-width: 100%;
}

.sidebar {
  width: fit-content;
  background: #f4f4f4;
  border-right: 1px solid #ddd;
  overflow: auto;
  max-height: calc(100vh - 60px);
}

.content {
  flex: 1;
  padding: 1rem;
  container-type: inline-size;
}

*/

.maze-btn {
  display: block;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background: #eee;
  border: none;
  cursor: pointer;
  width: 100%;
}

.maze-btn:hover {
  background-color: var(--maze-card-btn-hover-bg);
  color: var(--maze-card-btn-hover-text);
  border-color: #4f8cff;
  cursor: pointer;
}

#cms-container {
  display: flex;
  flex-direction: column;
  height: 100svh;
  width: 100vw;
  min-width: 10rem;
  box-sizing: border-box;
}

@container (max-width: 500px) {
  #maze-details {
    grid-template-columns: 1fr;
  }
}

.content-container {
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
}

#cms-heading {
  margin: 1rem;
}

.sidebar {
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  width: 8rem;
  height: 100%;
  overflow-y: auto;
  gap: 0.25rem;
  padding-right: 0.25rem;
}

.sidebar button {
  width: 8rem;

  display: flex;
  align-items: center;
  border: 0.5px solid var(--maze-card-btn-border);
  padding: 0.75rem;
  background-color: var(--maze-card-btn-bg);
  color: var(--maze-card-btn-text);
  font-size: 1.1rem;
  transition: background 0.2s, color 0.2s, border 0.2s;
  font-weight: 500;
  box-shadow: 0 2px 8px 0 rgba(31, 38, 135, 0.07);
}

.maze-details {
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  padding: 1.5rem;
  display: grid;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.double-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.double-details p {
  color: white;
}

#maze-encoding-text {
  color: white;
}

#encoding-feedback-text {
  color: green;
}

#maze-manager {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.maze-canvas {
  border: 1px solid #333;
  margin-top: 1rem;
  width: 100%;
}

#maze-encoding {
  font-size: 0.875rem;
  padding: 0.5rem 0.75rem;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 0.4rem;
  box-sizing: border-box;
  resize: vertical;
}

.cms-input {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.5rem 0.75rem;
  border: 1px solid #ddd;
  border-radius: 0.4rem;
}
