#nav-button {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  padding: 1.5rem 3rem;
  background-color: white;
  cursor: pointer;
  flex-wrap: wrap;
}

#nav-button:hover {
  background-color: #dde3e6;
}

#error-message {
    font-size: 1.5rem;
}

.main-heading{
    font-size: 2rem;
    margin-bottom: 1rem;
}