#google-login-button {
  height: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  padding: 1.5rem 3rem;
  background-color: white;
  cursor: pointer;
}
#google-login-button:hover {
  background-color: #dde3e6;
}

#google-logo {
  height: 1.5rem;
}
h1{
  font-size: 2rem;
  margin-bottom: 1rem;
}