#google-login-button {
  min-height: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  padding: 0.5rem 3rem;
  background-color: white;
  cursor: pointer;
}

#google-logo {
  height: 1.5rem;
}