#username-label {
  font-size: 1.25rem;
  text-align: left;
}

#username-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  gap: 1rem;
  max-width: 20rem;
  box-sizing: border-box;
}

#username-input {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  padding: 1rem 3rem;
  background-color: white;
  box-sizing: border-box;
  width: 100%;
}

#message {
    font-size: 1.25rem;
    color: white;
}