#user-management-container {
    width: 100%;
    min-height: 100%;
    justify-content: center;
    justify-items: center;
}

#user-management-container nav{
    display: flex;
    justify-self: right;
}

#user-role-management-section {
    width: 75%;
}

#user-role-management-section table {
    border-collapse: collapse;
    width: 100%;
}

#user-role-management-section h1 {
    color: white;
    font-size: 3rem;
    text-align: center;
    margin: 1rem;
}

#user-role-management-section th {
    text-align: center;
    justify-self: center;
    font-size: 1.5rem;
}

#user-role-management-section th, #user-role-management-section td {
    border: 0.25rem solid #000000;
    padding: 1rem;
}
#user-role-management-section thead {
    background-color: #f2f2f2;
}

#user-role-management-table-body {
    background-color: #d3d3d3;
    color: white;
}

#update-user-role-btn {
    display: flex;
    justify-self: right;

    background-color: #48494b;
    border-radius: 1rem;
    color: white;
    padding: 0.5rem;
    margin: 1rem;
    border: 0.25rem solid #ffffff;
    cursor: pointer;
    align-items: center;

    font-size: 1.5rem;

}

.username-cell {
    font-size: 1.25rem;
    text-align: center;
}

#user-role-management-section form {
    display: flex;
    flex-wrap: wrap;
}

.role-checkbox {
    background-color: #48494b;
    border-radius: 1rem;
    color: white;
    padding: 0.5rem;
    margin-right: 0.5rem;
    border: 0.25rem solid #ffffff;
    cursor: pointer;
    align-items: center;
}

#user-role-management-table {
    max-height: 70vh;
    overflow-y: auto;
}

#submission-feedback {
    text-align: right;
}